<div class="auth_header">
	<%= content_tag(:h3, t('login')) %>
	<ul>
		<li><%= link_to "Register",'#', :id => 'register_link' %></li>
		<li>restore password</li>
	</ul>
</div>
<div class="auth_content">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<fieldset>
	<dl>
		<dt><%= f.label :email %></dt>
		<dd><%= f.email_field :email %></dd>
	
		<dt><%= f.label :password %></dt>
		<dd><%= f.password_field :password %></dd>
	</dl>
	</fieldset>
	<div class="submit">
		<%= f.submit "Sign in" %>
	</div>
	<div class="remember">
		<%= f.check_box :remember_me %> <%= f.label :remember_me %>
	</div>
	<% end %>
</div>